.dialog-container {
    min-width: 500px;
    h1 {
        font-size: 32px;
        margin-top: 10px;
    }
    mat-dialog-content {
        padding-bottom: 0;
        mat-form-field {
            width: 100%;
            &:first-child {
                margin-top: 5px;
            }
        }
    }
    mat-dialog-actions {
        margin-left: 16px;
        margin-bottom: 5px;
    }
}
