<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user', user.id]">
            <td>{{ user.firstName }} {{ user.lastName}} </td>
            <td>{{ user.birthDate | date: 'dd.MM.yyyy' }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User"
    matTooltipPosition="above">
    <mat-icon>person_add</mat-icon>
</button>