<mat-card>
    <table class="customer-table">
        <tr>
            <th>Company</th>
            <th>Contact person</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let customer of allCustomers" [routerLink]="['/customer', customer.id]">
            <td>{{ customer.companyName }}</td>
            <td>{{ customer.firstName }} {{ customer.lastName}} </td>
            <td>{{ customer.city }}</td>
            <td>
                <mat-icon class="del" (click)="delCustomer(customer, $event)">delete</mat-icon>
            </td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-customer-button" mat-fab color="primary" matTooltip="Add customer"
    matTooltipPosition="above">
    <mat-icon>add_business</mat-icon>
</button>