<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo-container">
      <img src="./assets/img/logo.png" alt="">
    </div>

    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li routerLink="/user" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>Employees
      </li>
      <li routerLink="/customer" routerLinkActive="router-link-active">
        <mat-icon>store</mat-icon>Customers
      </li>
      <li routerLink="/task" routerLinkActive="router-link-active">
        <mat-icon>assignment</mat-icon>Tasks
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>

        <span>Simple CRM</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
          class="mediaMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/" routerLinkActive="router-link-active">
            <mat-icon>fact_check</mat-icon>Dashboard
          </button>
          <button mat-menu-item routerLink="/user" outerLinkActive="router-link-active">
            <mat-icon>perm_identity</mat-icon>Employees
          </button>
          <button mat-menu-item routerLink="/customer" routerLinkActive="router-link-active">
            <mat-icon>store</mat-icon>Customers
          </button>
          <button mat-menu-item routerLink="/task" routerLinkActive="router-link-active">
            <mat-icon>assignment</mat-icon>Tasks
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>